@font-face{
  font-family:haiku;
  src: url(Redaction35Italic-rgDrB.otf);
}

@font-face{
  font-family:paragraph;
  src: url(Redaction35-BWXjw.otf);
}

@font-face{
  font-family:gothicpixels;
  src: url(GothicPixels.ttf);
}

body{
  background-color:rgb(225, 225, 210); 
  max-width: 700px;
  margin: auto;
  box-sizing: border-box;
  padding-bottom: 25px;
}

.p1{
  font-family:paragraph;
  color: rgb(94, 86, 62);
  font-size: 16px;
}

.center{
  text-align: center;
}

.p2{
  font-family:gothicpixels;
  color: rgb(94, 86, 62);
  font-size: 16px;
  text-align: center;
}

.h1{
  font-family:gothicpixels;
  color: rgb(94, 86, 62);
  font-size: 40px;
  margin-bottom: 15px;
}

.gallery{
  display: inline-block;
  vertical-align: top;
  outline: 4px double rgb(94, 86, 62);
  width: 325px;
  height: fit-content;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.haiku{
  text-align: center;
  font-family:haiku;
  color: rgb(94, 86, 62);
  font-size: 16px;
  margin-top: 4px;
  margin-bottom: 10px;
}

.em{
  font-family:haiku;
}

/* unvisited link */
a:link {
  color:rgb(94, 86, 62);
}

/* visited link */
a:visited {
  color:rgb(94, 86, 62);
}

/* mouse over link */
a:hover {
  color:rgb(94, 86, 62,.850);
}

/* selected link */
a:active {
  color:rgb(94, 86, 62);
}