* {
  box-sizing: border-box
}

body{
    max-width: 500px;
    margin: auto;
    background-color: rgb(237, 237, 236)
}

@font-face {
    font-family:Redaction20;
    src: url(Redaction20-YzPy2.otf);
  }

  @font-face {
    font-family:Redaction20Bold;
    src: url(Redaction20Bold-2ODWX.otf);
  }

  @font-face {
    font-family:Redaction20Italic;
    src: url(Redaction20Italic-K7ZJe.otf);
  }

img {
    max-width:100%;
    border: dashed 1px rgb(57, 57, 36);
}

.h1{
    text-align: center;
    font-family:Redaction20Bold;
    font-size: 50px;
    color: rgb(57, 57, 36)
}

.p1{
    text-align: center;
    font-family:Redaction20;
    color: rgb(57, 57, 36)
}

.p2{
  text-align: center;
  font-family:Redaction20Italic;
  color: rgb(57, 57, 36)
}

.main{
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.top{
  height: 95%;
  border: solid 1px rgb(57, 57, 36);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.drawer{
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  border: solid 1px rgb(57, 57, 36);
}

div.drawer:hover{
  background-color:rgb(207,207,206);
}

.credits{
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px rgb(57, 57, 36);
}







 /* unvisited link */
 a:link {
  color: rgb(57, 57, 36);
}

/* visited link */
a:visited {
  color: rgb(57, 57, 36);
}

/* mouse over link */
a:hover {
  color: rgb(57, 57, 36);
}

/* selected link */
a:active {
  color: rgb(57, 57, 36);
} 