* {
  box-sizing: border-box
}

body{
    max-width: 500px;
    margin: auto;
    background-image: url(callme054.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position: center;
    background-color: rgb(0,0,0)
}

@font-face {
    font-family:Redaction20;
    src: url(Redaction20-YzPy2.otf);
  }

  @font-face {
    font-family:Redaction20Bold;
    src: url(Redaction20Bold-2ODWX.otf);
  }

  @font-face {
    font-family:Redaction20Italic;
    src: url(Redaction20Italic-K7ZJe.otf);
  }

img {
    max-width:100%;
    border: dashed 1px rgb(57, 57, 36);
}

.h1{
    text-align: center;
    font-family:Redaction20Bold;
    font-size: 50px;
    color: rgb(220, 230, 225)
}

.p1{
    text-align: center;
    font-family:Redaction20;
    color: rgb(220, 230, 225)
}

.p2{
  text-align: center;
  font-family:Redaction20Italic;
  color: rgb(220, 230, 225)
}

.p3{
  text-align: right;
  font-family:Redaction20Italic;
  color: rgb(78, 78, 64);
}

.main{
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.top{
  height: 95%;
  border: solid 2px rgb(220, 230, 225);
  display: flex;
  flex-flow: column;
  gap: 10px;
  padding: 10px;
}

.drawer{
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  border: solid 2px rgb(220, 230, 225);
}

.drawerpassion {
  height: 40px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.drawerpassion1 {
  height: 40px;
  width: 80%;
  display: flex;
  align-items: center;
  padding: 10px;
  border: solid 2px rgb(220, 230, 225);
}

.drawerpassion2 {
  height: 40px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: solid 2px rgb(220, 230, 225);
}

.hover:hover{
  background-color:rgb(20,30,25);
}

.credits{
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px rgb(220, 230, 225);
}







 /* unvisited link */
 a:link {
  color: rgb(220, 230, 225);
}

/* visited link */
a:visited {
  color: rgb(220, 230, 225);
}

/* mouse over link */
a:hover {
  color: rgb(220, 230, 225);
}

/* selected link */
a:active {
  color: rgb(220, 230, 225);
} 