@font-face{
  font-family:haiku;
  src: url(Redaction35Italic-rgDrB.otf);
}

@font-face{
  font-family:paragraph;
  src: url(Redaction35-BWXjw.otf);
}

@font-face{
  font-family:gothicpixels;
  src: url(GothicPixels.ttf);
}

body{
  background-image: url(sh_night_background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  background-color:rgb(7, 10, 9); 
  max-width: 600px;
  margin: auto;
  box-sizing: border-box;
}

.h1{
  background-color:rgb(7, 10, 9);
  font-family:gothicpixels;
  color: rgb(246, 250, 236);
  font-size: 40px;
  margin: 0;
}

.p1{
  background-color:rgb(7, 10, 9);
  font-family:paragraph;
  color: rgb(246, 250, 236);
  font-size: 16px;
  margin: 0;
}

.p2{
  background-color:rgb(7, 10, 9);
  font-family:gothicpixels;
  color: rgb(246, 250, 236);
  font-size: 16px;
  margin: 0;
}

.haiku{
  background-color:rgb(7, 10, 9);
  font-family:haiku;
  color: rgb(246, 250, 236);
  font-size: 16p;
  margin: 0;
  padding-top: 10px;
}

.credit{
  background-color:rgb(7, 10, 9);
  font-family:haiku;
  color: rgb(246, 250, 236);
  font-size: 16p;
  margin: 0;
}

.center{
  text-align: center;
}
.em{
  font-family:haiku;
}

ul.a {
  list-style-type: square;
}

a:link {
  color:rgb(246, 250, 236);
}

a:visited {
  color:rgb(246, 250, 236);
}

a:hover {
  color:rgb(246, 250, 236,.850);
}

a:active {
  color:rgb(246, 250, 236);
}




.night{
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom:0;
  padding-top: 10px;
}

.main{
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 5px;
  padding-bottom: 10px;
}

.heading{
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 5px;
}

.info{
  height: auto;
  display: flex;
  padding: 10px;
}

.gallery{
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  gap: 10px;
}

.image{
  background-color:rgb(7, 10, 9);
  height: auto;
  width: 500px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding-bottom: 10px;
  border: dotted 1px rgb(246, 250, 236);
}

.bottom{
  height: auto;
  display: flex;
  padding: 10px;
}

.credits{
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-bottom: 20px;
}